<aside class="sidebar">
  <div class="sidebar-brand">
    <h2>Admin Panel</h2>
  </div>
  <nav>
    <ul class="sidebar-nav">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <div class="sidebar-icon"></div>
        Dashboard
      </a></li>
      <li><a routerLink="products" routerLinkActive="active">
        <div class="sidebar-icon"></div>
        Products
      </a></li>
      <li><a routerLink="categories" routerLinkActive="active">
        <div class="sidebar-icon"></div>
        Categories
      </a></li>
      <li><a routerLink="orders" routerLinkActive="active">
        <div class="sidebar-icon"></div>
        Orders
      </a></li>
      <li><a routerLink="testimoinals" routerLinkActive="active">
        <div class="sidebar-icon"></div>
        Testimonials
      </a></li>
      <li><a routerLink="faq" routerLinkActive="active">
        <div class="sidebar-icon"></div>
        FAQ
      </a></li>
    </ul>
  </nav>
</aside>
