<div class="login-component">
    <div class="login-container">
        <div class="login-card">
            <div class="login-header">
                <h1>Welcome Back</h1>
                <p>Sign in to your admin account</p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="login-form-group">
                    <label class="login-form-label">Email Address</label>
                    <input type="email" class="login-form-input" placeholder="admin@example.com" formControlName="email"
                        [class.is-invalid]="loginForm.get('email')?.touched && (loginForm.get('email')?.invalid || serverErrors.email)">
                    <div class="errorMsg"
                        *ngIf="loginForm.get('email')?.touched && (loginForm.get('email')?.invalid || serverErrors.email)">
                        {{ getEmailError() }}
                    </div>
                </div>
                <div class="login-form-group">
                    <label class="login-form-label">Password</label>
                    <input type="password" class="login-form-input" placeholder="••••••••" formControlName="password"
                        [class.is-invalid]="loginForm.get('password')?.touched && (loginForm.get('password')?.invalid || serverErrors.password)">
                    <div class="errorMsg"
                        *ngIf="loginForm.get('password')?.touched && (loginForm.get('password')?.invalid || serverErrors.password)">
                        {{ getPasswordError() }}
                    </div>
                </div>
                <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Sign In</button>
                <div class="errorMsg" *ngIf="serverErrors.general">
                    invalid email or password
                </div>
            </form>
            <div class="login-footer">
                <p>Don't have an account? <a [routerLink]="['/register']">Create one here</a></p>
            </div>
        </div>
    </div>
</div>